@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

.col {
    margin: 0;
    padding: 0;
}

.content-alignment {
    display: flex;
    justify-content: center;
    align-content: center;
}

.textCenter {
    text-align: center;
}

.img-centered {
    object-fit: cover;
    object-position: center;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Londrina Solid', cursive;
}

h6 {
    font-family: 'Open Sans', sans-serif;
}

.bigHr {
    width: 25%;
    height: 3px;
    border-radius: 50%;
    background-color: #569532;
}

.fineHr {
    width: 50%;
}

/* ----------------------------------Navbar */

nav {
    background: #569532;
    filter: drop-shadow(3px 3px 3px #636161);
    border-bottom: 1px solid #fff;
}

.navbar-brand {
    padding-top: 5px;
}

header nav img {
    width: 150px;
    /* height: 80px; */
    border-radius: 10%;
    padding-left: 5px;
    margin-left: 20px;
}

header nav img:hover {
    filter: drop-shadow(3px 6px 9px #636161);
}

nav ul li .nav-link {
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-family: 'Londrina Solid', cursive;
}

nav ul li .nav-link:hover {
    color: #000;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}

.active {
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

.active a {
    color: #000;
}

.navbar-light .navbar-toggler {
    color: #fff;
    border: 3px solid #fff;
}

/* ---------------------------------------------------------- HOME PAGE --------------------------------------------------------- */

/* ----------------------------------Interactive Map */

.mainHeading {
    margin-top: 10px;
}

div#map {
    min-height: 100vh;
}

#localCoverImg {
    width: 100%;
    height: 40vh;
    margin-bottom: 5px;
}

.reportCard p {
    font-size: 1.2rem;
}

.reportLink {
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    color: #569532;
}

.reportLink:hover {
    font-size: 1.3rem;
    text-decoration: none;
    color: #5eff00;
}

/* ----------------------------------Local Report */

#beachReport {
    display: none;
}

.generalReportHeadings {
    font-size: 1.2rem;
    font-weight: 700;
}

.reportData {
    font-size: 1.05rem;
    font-weight: 500;
}

.reportBackground {
    background-color: rgb(185, 185, 185);
}

.reportBackground:hover {
    top: -5px;
    filter: drop-shadow(-3px 6px 9px #636161);
}

.localReport,
.currentReport,
.hourlyReport {
    margin-bottom: 15px;
}

.reportDescription {
    font-size: 1.1rem;
    font-weight: 500;
}

#currentTime {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.reportHeading {
    margin-top: 20px;
}

#myBtn {
    width: 70px;
    height: 70px;
    display: none;
    position: fixed;
    bottom: 100px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #569532;
    color: white;
    cursor: pointer;
    border-radius: 100%;
    font-size: 20px;
}

#myBtn:hover {
    background-color: #555;
    filter: drop-shadow(-3px 3px 20px #569532);
    border: 1px solid #569532;
}

/* ----------------------------------------------Forecast report */

.gradeSi::after {
    content: "°";
}

.forecastTable {
    margin-top: 15px;
    border-left: 1px solid rgb(151, 151, 151);
    margin-bottom: 10px;
}

.forecastTableSm {
    margin: 15px 0 10px 0;
}

span.tableTitle {
    font-weight: 700;
    margin-bottom: 20px;
}

.tableVal {
    margin-left: 50px;
}

.tableVal,
.tableUnit {
    font-weight: 500;
}

/* --------------------------------------------------Forecast navbar */

.forecastNav {
    list-style: none;
    border-bottom: 1px solid rgb(151, 151, 151);
}

.forecastNav li {
    color: rgb(71, 71, 71);
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0 80px 0 80px;
    display: inline;
    cursor: pointer;
}

.forecastNav li:hover {
    color: #000;
    font-weight: 700;
    border-bottom: 2px solid #000;
}

.forecastActive {
    color: #000 !important;
    font-weight: 700 !important;
    border-bottom: 2px solid #000 !important;
}

/* ------------------------------------------- Current Report (now) */

.currentWeather {
    margin: 10px 0 20px 0;
}

.currentData {
    border-bottom: 1px solid #000;
    margin-bottom: 0.3em;
}

#nowIcon img {
    margin-left: 15em;
}

.nowIconDesc {
    margin-top: 105px;
}

#nowDesc {
    font-size: 1.2rem;
    font-weight: 600;
}

#nowTemp {
    margin-top: 45px;
}

#tempValNow {
    font-size: 7rem;
    font-weight: 600;
}

#nowTemp .tempUnit {
    font-size: 2rem;
    font-weight: 600;
}

#sunriseNow span,
#sunsetNow span {
    font-size: 2rem;
    font-weight: 700;
}

#sunriseNow p,
#sunsetNow p {
    font-size: 1.2rem;
    font-weight: 600;
}

/* ------------------------------------------- Hourly Report & Daily Report & Surf Forecast */

.hideReport {
    display: none;
}

.hourlyWeather,
.dailyWeather,
.surfForecast {
    cursor: pointer;
    margin: 1em 0 1em 0;
}

.hourlyDate,
.dailylyDate,
.surfDate {
    margin: 1.5em 0 0 1em;
}

.hourlyDate span,
.dailylyDate span,
.surfDate span {
    font-weight: 700;
}

.hourlyDate p,
.dailylyDate p,
.surfDate p {
    color: rgb(70, 70, 70);
}

.hourDesc,
.dailyDesc {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1.2em 1em 0 0;
}

.tempValHour,
.tempValDaily {
    font-size: 4rem;
    font-weight: 600;
}

.hourTemp .tempUnit,
.dailyTemp .tempUnit {
    font-weight: 700;
}

.hourFeLike,
.dailyFeLike {
    margin: 2.5em 0 0 1.5em;
    font-weight: 600;
}

.hourCloud,
.dailyCloud {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1.8em;
}

.hourValueTable,
.dailyValueTable,
.surfValueTable {
    display: none;
}

.arrowReport {
    color: #569532;
    font-size: 3rem;
}

.arrowDownHour,
.arrowDownDaily {
    margin: 0.3em 0.3em 0 0;
}

.hourValues,
.dailyValues,
.surfValues {
    border-bottom: 1px solid #000;
    margin: 0 0 1em 1em;
    overflow: hidden;
}

.hourTitle,
.dailyTitle,
.surfTableTitle {
    font-weight: 700;
}

.hourVal,
.hourUnit,
.dailyVal,
.dailyUnit,
.surfVal,
.surfUnit {
    font-weight: 600;
}

/* ------------------------------------------- Surf Forecast */

.waveIcon {
    width: 50px;
}

.surfTitle {
    font-weight: 700;
}

.surfFirstVal {
    font-weight: 600;
}

.surfFirstTab {
    margin-top: 1.4em;
}

.arrowDownSurf {
    margin-right: 0.2em;
}

/* --------------------------------------------------- SURFBOARDS PAGE -----------------------------------------------------------*/

.boardsCover {
    position: relative;
}

.creditLink small {
    font-style: italic;
    margin-left: 10px;
}

.creditLink a {
    text-decoration: none;
    color: black;
    font-weight: 800;
}

.coverText {
    color: #000;
    text-align: center;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.coverText h1 {
    font-weight: 900;
    font-size: 3rem;
}

.boardsCover img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: center;
    filter: opacity(0.5);
}

.boardTextContent {
    overflow: hidden;
    height: auto;
}

.boardTextContent p {
    width: 70%;
}

.guideSubTitle {
    color: #569532;
}

.guideListDesc ul {
    list-style: none;
    margin-left: 150px;
}

.guideListDesc p {
    width: 80%;
}

.toggleText {
    display: none;
}

.authorCredit {
    margin-top: 5px;
    margin-left: 170px;
}

.showHideText {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #569532;
    color: #000;
    font-weight: 700;
    cursor: pointer;
}

.showHideText p {
    margin-top: 10px;
}

.arrowUp {
    background-color: transparent;
    color: transparent;
    font-weight: 900;
    position: relative;
    top: 10px;
    border-radius: 0;
    width: 50px;
    height: 50px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #5baf2a;
}

.arrowDown {
    background-color: transparent;
    color: transparent;
    font-weight: 900;
    position: relative;
    top: 10px;
    border-radius: 0;
    width: 50px;
    height: 50px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #5baf2a;
}

.boardCalculator {
    margin-top: 20px;
}

.boardCalculator h3 {
    margin-bottom: 30px;
}

#btnCalculator {
    border: 1px solid #569532;
    color: #569532;
    font-weight: 700;
}

#btnCalculator:hover {
    background-color: #569532;
    color: #fff;
}

.btnCalculatorOnClick {
    height: 10vh;
    background-color: #569532;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 900;
}

#btnReset {
    color: #555;
    background-color: transparent;
    border: 0;
    outline: none;
}

#btnReset:hover {
    color: #000;
    font-weight: 700;
    text-decoration: underline;
}

.boardSizesDisplay {
    display: inline-block;
}

.boardSizesDisplayHide {
    display: none;
}

/* ----------------------------------Validation of Calculator Form */

.warningMsg {
    display: none;
    color: red;
}

.warningBorders {
    border: 1px solid red;
}

/* --------------------------------------------------- FEEDBACK PAGE -----------------------------------------------------------*/

.backgroundContainer {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.feedBackGround {
    pointer-events: none;
    width: 100%;
    height: 75vh;
    z-index: -1;
}

.buttonContainer {
    color: #fff;
    text-align: center;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(66, 66, 66, 0.514);
    border-radius: 5%;
    padding: 30px;
}

.buttonContainer h1 {
    margin-bottom: 50px;
}

.buttonContainer button {
    border: 1px solid #fff;
    outline: none;
    color: #fff;
    font-weight: 700;
    background-color: #569532;
}

.buttonContainer button:hover {
    color: #569532;
    background-color: #fff;
    border: 3px solid #569532;
}

.feedbackCredit {
    position: absolute;
    top: 96%;
    left: 0.1%;
}

.feedbackCredit small {
    font-style: italic;
    margin-left: 10px;
}

.feedbackCredit a {
    text-decoration: none;
    color: black;
    font-weight: 800;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #ededed;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content span {
    width: 1%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.feedbackTitle h3 {
    margin-bottom: 25px;
}

.feedbackForm {
    text-align: left;
}

.feedbackForm label {
    font-size: 1.2rem;
    font-weight: 600;
}

.feedbackForm textarea {
    resize: none;
}

.feedbackWarning {
    display: none;
    color: red;
}

.feedbackButton {
    margin-top: 10px;
    color: #fff;
    font-weight: 700;
    background-color: #000000;
    border: 1px solid #fff;
    outline: none;
}

.feedbackButton:hover {
    background-color: #fff;
    color: #569532;
    border: 3px solid #569532;
}

.inputWarning {
    border: 1px solid red;
}

#feedbackReset {
    outline: none;
    background: none;
    border: none;
    color: #555;
}

#feedbackReset:hover {
    text-decoration: underline;
    font-weight: 700;
    color: #000;
}

/* ----------------------------------Footer */

footer {
    text-align: center;
    background: #569532;
}

footer i {
    font-size: 2.5rem;
    margin: 1rem;
    color: #fff;
}

footer p {
    color: #000;
    margin: 0;
}

footer i:hover {
    color: black;
    transform: scale(1.3, 1.3);
}

/* ----------------------------------Media queries*/

@media screen and (min-width: 1600px) and (max-width: 2559px) {
    div#map {
        min-height: 70vh;
    }
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
    div#map {
        min-height: 57vh;
    }

    #localCoverImg {
        width: 100%;
        height: 15vh;
    }

    .hourlyReport {
        min-height: 27vh;
        overflow: hidden;
    }

    .hourlyReportSlide {
        margin-left: 90px;
    }

    #hourlyPrev {
        top: 100px;
        right: 570px;
    }

    #hourlyNext {
        top: 100px;
        left: 560px;
    }

    .dailyReportSlide {
        min-height: 100%;
        overflow: hidden;
        margin-top: 50px;
    }

    #dailyPrev {
        top: 250px;
        right: 1130px;
    }

    #dailyNext {
        top: 250px;
        left: 1070px;
    }

    .surfHourlyReport {
        max-height: 30vh;
        overflow: hidden;
    }

    #surfHourlyPrev {
        top: 100px;
        right: 550px;
    }

    #surfHourlyNext {
        bottom: 225px;
        left: 520px;
    }

    .coverText h1 {
        font-size: 4rem;
    }

    .guideListDesc ul {
        margin-left: 180px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
    .col-md-10 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .dailySliderInner .col-md-10 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .surfHourlyReport {
        max-height: 55vh;
        overflow: hidden;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
    div#map {
        min-height: 60vh;
    }

    #localCoverImg {
        height: 20vh;
    }

    .hourDesc,
    .dailyDesc {
        margin: 1.2em 1.5em 0 0;
    }

    .coverText h1 {
        font-size: 3rem;
    }

    .guideListDesc ul {
        margin-left: 115px;
    }

    .authorCredit {
        margin-top: 5px;
        margin-left: 130px;
    }

    #nowIcon img {
        margin-left: 12em;
    }

    .boardsCover img {
        height: 50vh;
    }

    .feedBackGround {
        height: 87vh;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    div#map {
        min-height: 85vh;
    }

    #localCoverImg {
        height: 30vh;
    }

    .col-md-6 {
        flex: 0 0 90%;
        max-width: 90%;
    }

    .placeName h5 {
        font-size: 2rem;
    }

    .placeInfo p {
        font-size: 2rem;
    }

    .placeInfo h6 {
        font-size: 2rem;
    }

    .forecastNav li {
        margin: 0 50px 0 50px;
    }

    .hourTitle,
    .dailyTitle,
    .surfTableTitle {
        font-size: 0.88rem;
    }

    .hourDesc,
    .dailyDesc {
        margin: 1.2em 2em 0 0;
    }

    .hourTemp,
    .dailyTemp {
        margin-top: 1em;
    }

    .tempValHour,
    .tempValDaily {
        font-size: 3rem;
    }

    .hourFeLike,
    .dailyFeLike {
        margin: 2em 0 0 1.5em;
    }

    .hourCloud,
    .dailyCloud {
        margin-top: 1.5em;
    }

    .coverText h1 {
        font-size: 3rem;
    }

    .guideListDesc ul {
        margin-left: 75px;
    }

    .authorCredit {
        margin-top: 5px;
        margin-left: 100px;
    }

    #calculatorForm label {
        font-size: 0.90rem;
    }

    .feedbackCredit {
        position: absolute;
        top: 93%;
        left: 0.1%;
    }

    #nowIcon img {
        margin-left: 6em;
    }

    .boardsCover img {
        height: 40vh;
    }

    .coverText {
        top: 45%;
    }

    .feedBackGround {
        height: 83vh;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    div#map {
        min-height: 65vh;
    }

    #localCoverImg {
        height: 20vh;
    }

    .forecastNav li {
        font-size: 1.1rem;
        margin: 0 23px 0 10px;
    }

    .nowIconDesc {
        margin-top: 45px;
    }

    #nowTemp {
        margin-top: 5px;
    }

    #nowDesc {
        font-size: 1rem;
    }

    #tempValNow {
        font-size: 6rem;
    }

    div.forecastTableSm {
        margin: 15px 0 10px 0;
    }

    span.tableTitle {
        font-size: 1.1rem;
        margin: 0 0 20px 0;
    }

    .tableVal {
        font-size: 1.1rem;
        margin-left: 35px;
    }

    .arrowDownHour i,
    .arrowDownDaily i {
        margin: 0 4em 0 0;
    }

    .hourTitle,
    .dailyTitle,
    .surfTableTitle {
        font-size: 1rem;
    }

    .hourDesc,
    .dailyDesc {
        font-size: 0.99rem;
        margin-top: 1.5em;
    }

    .tempValHour,
    .tempValDaily {
        font-size: 4rem;
        margin-left: 1em;
    }

    .arrowDownSurf i {
        margin-right: 4em;
    }

    .coverText h1 {
        font-size: 2rem;
    }

    .guideListDesc ul {
        margin-left: 25px;
    }

    .authorCredit {
        margin-top: 0;
        margin-bottom: 15px;
        margin-left: 35px;
        font-size: 0.88rem;
    }

    #calculatorForm label {
        font-size: 0.8rem;
    }

    #calculatorForm small {
        font-size: 0.6rem;
        font-weight: 700;
    }

    .buttonContainer {
        width: 80%;
    }

    .buttonContainer h1 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .feedbackCredit {
        position: absolute;
        top: 90%;
        left: 0.1%;
        font-size: 0.8rem;
    }

    #nowIcon img {
        margin-left: 3em;
    }

    .feedBackGround {
        object-fit: cover;
        object-position: 40%;
    }

    .modal-content {
        width: 100%;
    }

    .boardsCover img {
        height: 30vh;
    }

    .coverText {
        top: 40%;
    }

    .reportCard h5 {
        font-size: 1rem;
    }
}

@media screen and (min-width: 414px) and (max-width: 424px) {
    div#map {
        min-height: 65vh;
    }

    #localCoverImg {
        height: 20vh;
    }

    .forecastNav li {
        font-size: 1.1rem;
        margin: 0 20px 0 10px;
    }

    .nowIconDesc {
        margin-top: 45px;
    }

    #nowDesc {
        font-size: 1rem;
    }

    #tempValNow {
        font-size: 6rem;
    }

    #nowTemp {
        margin-top: 5px;
    }

    div.forecastTableSm {
        margin: 15px 0 10px 0;
    }

    span.tableTitle {
        font-size: 1.1rem;
        margin: 0 0 20px 0;
    }

    .tableVal {
        font-size: 1.1rem;
        margin-left: 35px;
    }

    .arrowDownHour i,
    .arrowDownDaily i {
        margin: 0 4em 0 0;
    }

    .hourTitle,
    .dailyTitle,
    .surfTableTitle {
        font-size: 1rem;
    }

    .hourDesc,
    .dailyDesc {
        font-size: 0.99rem;
        margin-top: 1.5em;
    }

    .tempValHour,
    .tempValDaily {
        font-size: 4rem;
        margin-left: 1em;
    }

    .arrowDownSurf i {
        margin-right: 4em;
    }

    .coverText h1 {
        font-size: 2rem;
    }

    .guideListDesc ul {
        margin-left: 25px;
    }

    .authorCredit {
        margin-top: 0;
        margin-bottom: 15px;
        margin-left: 35px;
        font-size: 0.88rem;
    }

    #calculatorForm label {
        font-size: 0.8rem;
    }

    #calculatorForm small {
        font-size: 0.6rem;
        font-weight: 700;
    }

    .buttonContainer {
        width: 80%;
    }

    .buttonContainer h1 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .feedbackCredit {
        position: absolute;
        top: 90%;
        left: 0.1%;
        font-size: 0.8rem;
    }

    #nowIcon img {
        margin-left: 3em;
    }

    .modal-content {
        width: 100%;
    }

    .boardsCover img {
        height: 30vh;
    }

    .coverText {
        top: 40%;
    }

    .reportCard h5 {
        font-size: 1rem;
    }
}

@media screen and (min-width: 375px) and (max-width: 413px) {
    div#map {
        min-height: 65vh;
    }

    #localCoverImg {
        height: 20vh;
    }

    .forecastNav li {
        font-size: 1.1rem;
        margin: 0 16px 0 4px;
    }

    .nowIconDesc {
        margin-top: 55px;
    }

    #nowDesc {
        font-size: 1rem;
    }

    #tempValNow {
        font-size: 6rem;
    }

    #nowTemp {
        margin-top: 5px;
    }

    #sunriseNow span,
    #sunsetNow span {
        font-size: 1.4rem;
        font-weight: 700;
    }

    span.tableTitle {
        font-size: 1rem;
        margin: 0 0 20px 0;
    }

    .tableVal {
        font-size: 1rem;
        margin-left: 35px;
    }

    .hourTitle,
    .dailyTitle,
    .surfTableTitle {
        font-size: 0.9rem;
    }

    .hourDesc,
    .dailyDesc {
        font-size: 0.95rem;
        margin-top: 1.5em;
    }

    .tempValHour,
    .tempValDaily {
        font-size: 3.5rem;
        margin-left: 1em;
    }

    .arrowDownHour i,
    .arrowDownDaily i {
        margin: 0 3.5em 0 0;
    }

    .arrowDownSurf i {
        margin-right: 3.5em;
    }

    .coverText h1 {
        font-size: 3rem;
    }

    .boardTextContent p {
        width: 90%;
    }

    .guideListDesc ul {
        margin-left: 0;
    }

    .authorCredit {
        margin-top: 0;
        margin-bottom: 15px;
        margin-left: 0;
        font-size: 0.75rem;
    }

    #calculatorForm label {
        font-size: 0.75rem;
    }

    #calculatorForm small {
        font-size: 0.6rem;
        font-weight: 700;
    }

    output td {
        font-size: 0.9rem;
    }

    .buttonContainer {
        width: 90%;
    }

    .buttonContainer h1 {
        font-size: 1.8rem;
        margin-bottom: 10px;
    }

    .buttonContainer button {
        height: 50px;
        font-size: 1rem;
    }

    .feedbackCredit {
        position: absolute;
        top: 90%;
        left: 0.1%;
        font-size: 0.8rem;
    }

    #nowIcon img {
        margin-left: 2em;
    }

    .feedBackGround {
        object-fit: cover;
        object-position: 35%;
    }

    .modal-content {
        width: 100%;
    }

    .boardsCover img {
        height: 30vh;
    }

    .coverText {
        top: 40%;
    }

    .reportCard h5 {
        font-size: 1rem;
    }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    div#map {
        min-height: 65vh;
    }

    #localCoverImg {
        height: 20vh;
    }

    .forecastNav li {
        font-size: 1rem;
        margin: 0 8px 0 0;
    }

    .nowIconDesc {
        margin-top: 25px;
    }

    #nowDesc {
        font-size: 0.9rem;
    }

    #nowDesc {
        font-size: 0.9rem;
    }

    #tempValNow {
        font-size: 4rem;
    }

    #nowTemp {
        margin-top: 5px;
    }

    #sunriseNow span,
    #sunsetNow span {
        font-size: 1.4rem;
        font-weight: 700;
    }

    span.tableTitle {
        font-size: 0.9rem;
        margin: 0 0 20px 0;
    }

    .tableVal {
        font-size: 1rem;
        margin-left: 35px;
    }

    .tableUnit {
        font-size: 0.8rem;
    }

    .hourTitle,
    .dailyTitle {
        font-size: 1.2rem;
    }

    .arrowDownSurf i {
        margin-right: 3em;
    }

    .surfTableTitle {
        font-size: 1rem;
    }

    .hourDesc,
    .dailyDesc {
        font-size: 0.95rem;
        margin-top: 1.5em;
    }

    .tempValHour,
    .tempValDaily {
        font-size: 3rem;
        margin: 2em 0 0 0.7em;
    }

    .arrowDownHour i,
    .arrowDownDaily i {
        margin: 0 3em 0 0;
    }

    .coverText h1 {
        font-size: 3rem;
    }

    .boardTextContent p {
        width: 90%;
    }

    .guideListDesc ul {
        margin-left: 0;
    }

    .authorCredit {
        margin-top: 0;
        margin-bottom: 15px;
        margin-left: 0;
        font-size: 0.75rem;
    }

    #calculatorForm label {
        font-size: 0.75rem;
    }

    #calculatorForm small {
        font-size: 0.6rem;
        font-weight: 700;
    }

    output tr {
        font-size: 0.8rem;
    }

    output td {
        font-size: 0.8rem;
    }

    .buttonContainer {
        width: 90%;
    }

    .buttonContainer h1 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .buttonContainer button {
        height: 50px;
        font-size: 1rem;
    }

    .feedbackCredit {
        position: absolute;
        top: 90%;
        left: 0.1%;
        font-size: 0.8rem;
    }

    #nowIcon img {
        margin-left: 1em;
    }

    .hourIcon img {
        width: 99%;
    }

    .dailyIcon img {
        width: 99%;
    }

    .feedBackGround {
        object-fit: cover;
        object-position: 35%;
    }

    .modal-content {
        width: 100%;
    }

    .boardsCover img {
        height: 30vh;
    }

    .coverText {
        top: 40%;
    }

    .reportCard h5 {
        font-size: 0.9rem;
    }
}