@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

.col {
    margin: 0;
    padding: 0;
}

.content-alignment {
    display: flex;
    justify-content: center;
    align-content: center;
}

.textCenter {
    text-align: center;
}

h3,
h4,
h5 {
    font-family: 'Londrina Solid', cursive;
}

h6 {
    font-family: 'Open Sans', sans-serif;
}

/* ----------------------------------Navbar */

nav {
    background: #569532;
    filter: drop-shadow(3px 3px 3px #636161);
    border-bottom: 1px solid #fff;
}

.navbar-brand {
    padding-top: 5px;
}

header nav img {
    width: 80px;
    height: 80px;
    border-radius: 10%;
    padding-left: 5px;
    margin-left: 20px;
}

header nav img:hover {
    filter: drop-shadow(3px 6px 9px #636161);
}

nav ul li a {
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-family: 'Londrina Solid', cursive;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}

nav ul li a:hover {
    color: #000;
    font-weight: bold;
}

.active {
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

.active a {
    color: #000;
}

.navbar-light .navbar-toggler {
    color: #fff;
    border: 3px solid #fff;
}

/* ----------------------------------Local Report */

#hourlyPrev {
    position: relative;
    top: 170px;
    right: 320px;
}

#hourlyNext {
    position: relative;
    top: 170px;
    left: 170px;
}

.hourlysliderInner {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    float: left;
    /* background-color: rgba(12, 12, 12, 0.555); */
}

.hourlysliderInner>div.col-12,
.dailySliderInner>div.col-12 {
    display: none;
}

.hourlysliderInner div.activeHourlyReportSlide,
.dailySliderInner div.activeDailyReportSlide {
    display: inline-block;
}

.hourHeading,
.dailyHeading {
    border: 1px solid black;
}

.hourlyReport {
    margin-left: 60px;
}

.dailyReport {
    margin-left: 30px;
}

.hourlyReportWeather,
.dailyReportWeather {
    margin-left: 5px;
}

.dailyReportsValues,
.hourReportsValues {
    background-color: #ededed;
}

#dailyPrev {
    position: relative;
    top: 190px;
    right: 310px;
}

#dailyNext {
    position: relative;
    bottom: 205px;
    left: 220px;
}

/* ----------------------------------Beach links */

.infoCard {
    margin: 20px 30px 20px 30px;
    width: 600px;
    height: auto;
    background-color: #ededed;
}

.infoCard:hover {
    filter: drop-shadow(-3px 6px 9px #636161);
    top: -10px;
    cursor: pointer
}

.coverLink img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    object-position: center;
}

.coverLink {
    height: 60%;
    margin: 0 0 10px 0;
    padding: 0;
    overflow: hidden;
}

.placeName {
    text-align: center;
}

.placeInfo {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.placeInfo p {
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
}

/* ----------------------------------Songs Suggestion */

.songSuggestionHeading {
    margin-left: 30px;
    margin-bottom: 50px;
}

.songSuggestion iframe {
    margin: 0 5px 0 5px;
}

/* ----------------------------------Songs Suggestion Carousel (for medium and small screens)*/

.arrowsControl {
    background-color: rgba(22, 22, 22, 0.493);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

#leftArrow {
    top: 290px;
}

#rigthArrow {
    top: 240px;
    left: 720px;
}

.carouselWrap {
    height: 300px;
}

.contentWrap {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    float: left;
    background-color: rgba(12, 12, 12, 0.555);
}

.contentWrap div {
    display: none;
}

.contentWrap div.activeSlide {
    display: inline-block;
}

/* ----------------------------------Footer */

footer {
    text-align: center;
    background: #569532;
    opacity: 0.8;
}

footer i {
    font-size: 2.5rem;
    margin: 1rem;
    color: #fff;
}

footer p {
    color: #fff;
    margin: 0;
}

footer i:hover {
    color: black;
    transform: scale(1.3, 1.3);
}

/* ----------------------------------Media queries*/

@media screen and (min-width: 1024px) and (max-width: 1199px) {
    iframe {
        width: 500px;
        height: 380px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .col-md-6 {
        flex: 0 0 90%;
        max-width: 90%;
    }

    .placeName h5 {
        font-size: 2rem;
    }

    .placeInfo p {
        font-size: 2rem;
    }

    .placeInfo h6 {
        font-size: 2rem;
    }

    iframe {
        width: 670px;
        height: 280px;
        margin-left: 50px;
    }
}

@media screen and (max-width: 767px) {
    .col-md-6 {
        flex: 0 0 95%;
        max-width: 95%;
    }

    .placeInfo h6 {
        font-size: 0.9rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    iframe {
        width: 350px;
        height: 280px;
        margin-left: 40px;
    }

    .arrowsControl {
        width: 30px;
        height: 30px;
    }

    #rigthArrow {
        top: 260px;
        left: 395px;
    }
}

@media screen and (max-width: 375px) {
    iframe {
        width: 315px;
        height: 280px;
        margin-left: 30px;
    }

    .arrowsControl {
        width: 30px;
        height: 30px;
    }

    #rigthArrow {
        top: 260px;
        left: 345px;
    }
}

@media screen and (max-width: 320px) {
    iframe {
        width: 315px;
        height: 280px;
        margin-left: 5px;
    }

    .arrowsControl {
        width: 30px;
        height: 30px;
    }

    #rigthArrow {
        top: 260px;
        left: 290px;
    }
}